.App {
  text-align: center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
button{
  padding: 0.5rem;
  border:none;
  box-shadow:  1px 2px 5px #ccc;
}
li{
  text-align: left;
}
.heading{
  background-color: #cccccc94;
  font-weight: 800;
}
.flex{
  display: flex;
}
.flex-row{
  justify-content: space-between;
}
.grid{
  display: grid;
  align-items: center;
}
.grid-row{
  grid-template-columns:  40px auto auto auto auto ;
  justify-content: space-around;
}
.selected{
  background-color: #ccc;
}
table,td,tr{
  border: 1px solid blue;
}
input,select,button{
  cursor:pointer;
  font:inherit;
}
input{
  min-width: 250px;
  padding:0.5rem;
}
.nav-btn:focus{
background-color: red;
}
li:hover{
  background-color: rgba(234, 234, 234, 0.58);
}